{% extends "tracking/layout.html" %}

{% block body %}


    <h2>Data</h2>
    {% if user.is_authenticated %}
        {% for metric in metrics %}
        <div>{{metric.date}}: {{metric.steps}} steps; {{metric.bodyweight}} lbs; {{metrics.calories}} Calories</div>
        {% endfor %}
    <h3>Steps</h3>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var config = {
          type: 'line',
          data: {
            datasets: [
                {
                    data: {{ steps_data|safe }},
                    label: 'Steps',
                    fillColor: "rgba(0,0,0,0)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(200,122,20,1)",
            },
            
        ],
            labels: {{ dates|safe }}
          },
          options: {
            responsive: true
          }
        };
    var bodyweight = {
          type: 'line',
          data: {
            datasets: [
                {
                    data: {{ bodyweight_data|safe }},
                    label: 'Bodyweight',
                    fillColor: "rgba(0,0,0,0)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(200,122,20,1)",
            },
            
        ],
            labels: {{ dates|safe }}
          },
          options: {
            responsive: true
          }
        };

        var calorie_data = {
          type: 'line',
          data: {
            datasets: [
                {
                    data: {{ steps_data|safe }},
                    label: 'Steps',
                    fillColor: "rgba(0,0,0,0)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(200,122,20,1)",
            },
            
        ],
            labels: {{ dates|safe }}
          },
          options: {
            responsive: true
          }
        };
        window.onload = function() {
          var ctx1 = document.getElementById('steps_chart').getContext('2d');
          var ctx2 = document.getElementById('bodyweight_chart').getContext('2d');
          var ctx3 = document.getElementById('calories_chart').getContext('2d');
          window.myPie = new Chart(ctx1, config);
          window.myPie = new Chart(ctx2, bodyweight);
          window.myPie = new Chart(ctx3, calorie_data);
        };
    
      </script>
    <canvas id="steps_chart" style="width:100%;max-width:700px;max-height: 200px;"></canvas>

    <canvas id="bodyweight_chart" style="width:100%;max-width:700px;max-height: 200px"></canvas>
    <canvas id="calories_chart" style="width:100%;max-width:700p; max-height:200px"></canvas>

    {% else %}
    <div>Sign in</div>
    {% endif %}

{% endblock %}