{% extends "tracking/layout.html" %}

<div>
    {% block body %}
    {% if not bodyweight %}
    <form action = "{% url 'bodyweight' %}" method="post">
        {% csrf_token %}
        <label>Bodyweight: </label>
        <input type="number" step=".1" name="weight">
        <button type="submit">Save</button>
    </form>
    {% else %}
    <div>Body weight: {{bodyweight}}</div>
    {% endif %}

    <h2>Meal History</h2>
    <div><button>Prev</button>{{date}}<button>Next</button></div>
    <form action = "{% url 'copyprevious' %}" method="post">
        {% csrf_token %}
        <button>Copy Previous Day</button>
    </form>
    
    <div>
        <table id="totals-table">
            
            <tr id="header">
                <th>Item</th>
                <th>Protein</th>
                <th>Carb</th>
                <th>Fat</th>
                <th>Fiber</th>
                <th>Calories</th>
                <th>Serving (g)</th>
            </tr>
            {% if meals %}
            {% for meal in meals %}
            <tr>
                <td class="saved-meal" id="{{meal.0}}-name" data_original="{{meal.0}}">{{meal.0}}</td>
                <td class="saved-meal" id="{{meal.0}}-protein" data_original="{{meal.1}}">{{meal.1}}</td>
                <td class="saved-meal" id="{{meal.0}}-carbs" data_original="{{meal.2}}">{{meal.2}}</td>
                <td class="saved-meal" id="{{meal.0}}-fats" data_original="{{meal.3}}">{{meal.3}}</td>
                <td class="saved-meal" id="{{meal.0}}-fiber" data_original="{{meal.4}}">{{meal.4}}</td>
                <td class="saved-meal" id="{{meal.0}}-calories" data_original="{{meal.5}}">{{meal.5}}</td>
                <td class="saved-meal" id="{{meal.0}}-quantity" data_original="{{meal.6}}">{{meal.6}}</td>
                
                <td>
                    <button id="{{meal.0}}-edit" class="edit-button" value="{{meal.0}}">edit</button>
                    <button id="{{meal.0}}-save" class="save-button" value="{{meal.0}}" hidden>save</button>
                </td>
                <td>
                   <button id="{{meal.0}}-remove" class="remove-button" value="{{meal.0}}" >remove</button>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            
        </table>
        <div id="total-protein" data_goal = '{{user.protein_goal}}' data_current="{{protein}}">
            Protein: {{protein}}/{{user.protein_goal}}
        </div>
        <div id="total-carbs" data_goal = '{{user.carb_goal}}'data_current="{{carbs}}">
            Carbs: {{carbs}}/{{user.carb_goal}}
        </div>
        <div id="total-fat" data_goal = '{{user.fat_goal}}'data_current="{{fats}}">
            Fat: {{fats}}/{{user.fat_goal}}
        </div>
        <div id="total-fiber" data_current="{{fiber}}">
            Fiber: {{fiber}}
        </div>
        <div id="total-cals" data_goal = '{{user.calorie_goal}}'data_current="{{calories}}">
            Calories: {{calories}}/{{user.calorie_goal}}
        </div>
    </div>
    

    <h2>Add Foods</h2>
    <div id="searchbox">
        <form autocomplete="off" onSubmit='return false' action="{% url 'index' %}" method="POST" id="lookup">
            {% csrf_token %}
            <div class="autocomplete">
                <input type="text" name="food" id="food" placeholder="Food">
                <input type="hidden" value="lookup" name="formtype" >
            </div>
            <button id="submit">Search</button>
        </form>
    </div>
    <div>
        <table id="display-table">
        </table>
    </div>
    <input type="hidden" id="key" value="{{key}}">
    {% load static %}
<script type = 'text/javascript' src="{% static 'tracking.js' %}"></script>
    {% endblock %}
</div>