{% extends "tracking/layout.html" %}

<div>
    {% block body %}
    {% if not bodyweight %}
    <form action = "{% url 'bodyweight' %}" method="post">
        {% csrf_token %}
        <label>Bodyweight: </label>
        <input type="number" step=".1" name="weight">
        <button type="submit">Save</button>
    </form>
    {% endif %}
<div class="flex-container">
    <div class="flex-child">
        <h2>Data n stuff</h2>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            var config = {
            type: 'line',
            data: {
                datasets: [
                    {
                        data: {{ steps_data|safe }},
                        label: 'Steps',
                        backgroundColor: 'rgba(250,250,50, 0.5)'
                },
                
            ],
                labels: {{ dates|safe }}
            },
            options: {
                responsive: true
            }
            };
        var bodyweight = {
            type: 'line',
            data: {
                datasets: [
                    {
                        data: {{ bodyweight_data|safe }},
                        label: 'Bodyweight',
                        backgroundColor: 'rgba(175, 178, 60, 0.5)'
                },
                
            ],
                labels: {{ dates|safe }}
            },
            options: {
                responsive: true
            }
            };

            var calorie_data = {
            type: 'line',
            data: {
                datasets: [
                    {
                        data: {{ calorie_data|safe }},
                        label: 'Calories',
                        backgroundColor: 'rgba(50,100,250, 0.5)'
                },
                
            ],
                labels: {{ dates|safe }}
            },
            options: {
                responsive: true
            }
            };
            window.onload = function() {
            var ctx1 = document.getElementById('steps_chart').getContext('2d');
            var ctx2 = document.getElementById('bodyweight_chart').getContext('2d');
            var ctx3 = document.getElementById('calories_chart').getContext('2d');
            window.myPie = new Chart(ctx1, config);
            window.myPie = new Chart(ctx2, bodyweight);
            window.myPie = new Chart(ctx3, calorie_data);
            };
        
        </script>
        <div><canvas id="steps_chart" style="width:300px;max-height: 200px;"></canvas></div>
        <div><canvas id="bodyweight_chart" style="width:300px;;max-height: 200px"></canvas></div>
        <div><canvas id="calories_chart" style="width:300px;max-height:200px"></canvas></div>
    </div>
    
    <div class="flex-child">

        <div class="table-bar">
            <div>
                Meal History
            </div>
            <div class="flex-container">
            <div>
                <button id="prev">Prev</button>
            </div>
                <div id="date">{{date}}</div>
            <div>
                <button id="next">Next</button>
            </div>
            </div>
            <div>

        <form id="copyprevious" action = "{% url 'copyprevious' %}" method="post">
            {% csrf_token %}
            <button>Copy Previous Day</button>
        </div>
        </form>
            <button hidden id="copytotoday">Copy to Today</button>

        </form>


        </div>
        <div>
            <table id="totals-table">
            
                <tr id="header">
                    <th>Item</th>
                    <th>Protein</th>
                    <th>Carb</th>
                    <th>Fat</th>
                    <th>Fiber</th>
                    <th>Calories</th>
                    <th>Serving (g)</th>
                </tr>
                {% if meals %}
                {% for meal in meals %}
                <tr>
                    <td class="saved-meal" id="{{meal.0}}-name" data_original="{{meal.0}}">{{meal.0}}</td>
                    <td class="saved-meal" id="{{meal.0}}-protein" data_original="{{meal.1}}">{{meal.1}}</td>
                    <td class="saved-meal" id="{{meal.0}}-carbs" data_original="{{meal.2}}">{{meal.2}}</td>
                    <td class="saved-meal" id="{{meal.0}}-fats" data_original="{{meal.3}}">{{meal.3}}</td>
                    <td class="saved-meal" id="{{meal.0}}-fiber" data_original="{{meal.4}}">{{meal.4}}</td>
                    <td class="saved-meal" id="{{meal.0}}-calories" data_original="{{meal.5}}">{{meal.5}}</td>
                    <td class="saved-meal" id="{{meal.0}}-quantity" data_original="{{meal.6}}">{{meal.6}}</td>
                    
                    <td>
                        <button id="{{meal.0}}-edit" class="edit-button" value="{{meal.0}}">edit</button>
                        <button id="{{meal.0}}-save" class="save-button" value="{{meal.0}}" hidden>save</button>
                    </td>
                    <td>
                    <button id="{{meal.0}}-remove" class="remove-button" value="{{meal.0}}" >remove</button>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                
            </table>
            <div class="flex-container">
                <div id="total-protein" data_goal = '{{user.protein_goal}}' data_current="{{protein}}">
                Protein: {{protein}}/{{user.protein_goal}}
            </div>
            <div id="total-carbs" data_goal = '{{user.carb_goal}}'data_current="{{carbs}}">
                Carbs: {{carbs}}/{{user.carb_goal}}
            </div>
            <div id="total-fat" data_goal = '{{user.fat_goal}}'data_current="{{fats}}">
                Fat: {{fats}}/{{user.fat_goal}}
            </div>
            <div id="total-fiber" data_current="{{fiber}}">
                Fiber: {{fiber}}
            </div>
            <div id="total-cals" data_goal = '{{user.calorie_goal}}'data_current="{{calories}}">
                Calories: {{calories}}/{{user.calorie_goal}}
            </div>
        </div></div>
        

        <h2>Add Foods</h2>
        <div id="searchbox">
            <form autocomplete="off" onSubmit='return false' action="{% url 'index' %}" method="POST" id="lookup">
                {% csrf_token %}
                <div class="autocomplete">
                    <input type="text" name="food" id="food" placeholder="Food">
                    <input type="hidden" value="lookup" name="formtype" >
                </div>
                <button id="submit">Search</button>
            </form>


        <input type="hidden" id="key" value="{{key}}">
        {% load static %}
    <script type = 'text/javascript' src="{% static 'tracking.js' %}"></script>
    
        {% endblock %}
    </div>
</div>
</div>