{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title class="center">{% block title %}Tracking{% endblock %}</title>
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        {% block script %}
        
        {% endblock %}
    </head>
    <body>
        <h1>Fitness Tracking</h1>
        <div>
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'viewdata' %}">View Data</a>
            </li>
            <li>
                <a href="{% url 'settings' %}">Settings</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>

            <li>
                <a href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
        </div>
            {% block body %}
            {% endblock %}
    </body>
</html>