{% extends "layout.html" %}

<div>
    {% block body %}
    <H2>Selected Foods</H2>
    <div id="meal-table-div" hidden>
        <table id="meal-table">
            <tr>
                <th>Item</th>
                <th>Protein</th>
                <th>Carb</th>
                <th>Fat</th>
                <th>Fiber</th>
                <th>Calories</th>
            </tr>
            
        </table>
        <button>Save Meal</button>
    </div>
    <h2>Search Foods</h2>
    <div>
        <form onSubmit='return false' action="{% url 'index' %}" method="POST" id="lookup">
            {% csrf_token %}
            <input type="text" name="food" id="food">
            <input type="hidden" value="lookup" name="formtype">
            <button id="submit">Search Food</button>
        </form>
    </div>
    <div>
        <table id="display-table">
        </table>
    </div>
    <input type="hidden" id="key" value="{{key}}">
    {% endblock %}
</div>