{% extends "layout.html" %}

<div>
    {% block body %}
    <h2>Search Foods</h2>
    <div>
        <form onSubmit='return false' action="{% url 'index' %}" method="POST" id="lookup">
            {% csrf_token %}
            <input type="text" name="food" id="food">
            <input type="hidden" value="lookup" name="formtype">
            <button id="submit">Search Food</button>
        </form>
    </div>
    <div>
        <table id="display-table">
            <tr id="heading">
                <th>Food</th>
                <th>Protein</th>
                <th>Fats</th>
                <th>Carbs</th>
                <th>Calories</th>
                <th>Fiber</th>
            </tr>
        </table>
    </div>

    {% endblock %}
</div>